@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
    margin: 0 auto;
}
body{
    background-color: #fff;
    font-size: 20px;
}
a{
    text-decoration: none;
    display: block;
}
.wrap{
    width: 1000px;
    
}
/* 상단 */
header{
    width: 100%;
    height: 100px;
}
.top{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    position: relative;
}
.logo{
    float: left;
    width: 250px;
    height: 100px;
}
.logo img{
    margin-top: 30px;
    margin-left: 25px;
}
/* 상단메뉴 */
.menu{
    float: right;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 60px;
}
.navi{
}
.navi li{
    float: left;
    height: 40px;
    width: 150px;
    background-color: rgb(0, 13, 83);
}
.navi > li > a{
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.navi > li:hover > a{
    color: rgb(0, 25, 167);
    background-color: rgb(255, 255, 255);
}
.navi > li:hover .submenu{
    display: block;
}
/* 서브메뉴 */
.submenu{
    background-color: rgb(194, 227, 255);
    height: 120px;
    display: none;
}
.submenu > li{
    height: 40px;
    width: 150px;
    background-color: rgb(194, 227, 255);
}
.submenu > li > a{
    line-height: 40px;
    font-size: 16px;
    text-align: center;    
}
.submenu > li > a:hover{
    color: blue;
    background-color: #fff;
}
/* 본문 */
.bodywrap{
    width: 1000px;
    height: 500px;
    background-color: rgb(255, 255, 255);
}
/* 이미지 슬라이드 */
.imgslide{
    width: 1000px;
    height: 300px;    
    position: relative;
}
.imgslide > a{
    display: block;
}
.imgtext{
    background-color: rgba(0, 0, 0,0.7);
    text-align: center;
    line-height: 50px;
    width: 300px;
    height: 50px;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* 컨텐츠 */
.contents{
    width: 1000px;
    height: 200px;
}
/* 공지사항 */
.notice{
    float: left;
    width: 390px;
    height: 180px;
    /* background-color: aqua; */
    margin-top: 10px;
}
.tab{
    width: 400px;
    float: left;
    background-color: rgb(255, 255, 255);
}
.tab h4{
    /* display: inline; */
    background-color: coral;
    width: 120px;
    height: 20px;
    font-size: 14px;
    text-align: center;    
    float: left;
    font-weight: bold;
}
.notice > div{
    /* background-color: aqua; */
    width: 390px; 

    border-bottom: 3px solid coral;
}
.notice li:nth-child(2n+1){
    background-color: rgb(255, 232, 190);
}
.notice li:hover{
    font-weight: bold;
    
}
.notice li{
    width: 380px;
    background-color: white;
    float: left;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    padding-left: 6px;
    border-bottom: 2px solid #222;
}
.notice li span{
    float: right;
    margin-right: 10px;
}
/* 갤러리 */
.gallery{
    width: 380px;
    height: 180px;
    /* background-color: aquamarine; */
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    margin-right: 10px;
}
.gallery > div{
    width: 380px;    
    border-bottom: 3px solid coral;
}
.gallery li{
    float: left;
}
.gallery li:first-child{
    margin-left: 1px;
}
.gallery img{
    width: 116px;
    height: 145px;
    margin: 5px;
}
.gallery img:hover{
    opacity: 0.4;
}
/* 바로가기 */
.shortcut{
    float: left;
    width: 200px;
    height: 180px;
    margin-top: 10px;    
    position: relative;
}
.shortcut img{
    height: 180px;    
    width: 200px;
}
.shortcut .sctext{
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 30px;
    display: inline-block;
    color: white;
    line-height: 30px;
    font-size: 18px;
    background-color: rgba(0, 0, 0,0.5);
}
/* 하단 */
footer{
    height: 100px;
    width: 1000px;
    background-color: #48487d;
}
.copy{
    float: left;
    width: 500px;
    height: 100px;
    /* background-color: #a8e798; */
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    color: white;
}
.site{
    float: right;
    /* background-color: #fabd43; */
    width: 500px;
    height: 100px;
}
.btmenu{
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    height: 50px;
    /* background-color: aliceblue; */
}
.btmenu ul{
    margin-left: 165px;
}
.btmenu li > a{
    float: left;
    color: rgb(255, 255, 255);
    width: 100px;
}
.btmenu li > a:hover{
    font-weight: bold;
    color: rgb(0, 15, 224);
}
.familysite{    
    height: 50px;
    /* background-color: rgb(84, 165, 236); */
    float: right;
}
.familysite select{
    margin-right: 45px;
    margin-top: 3px;
    width: 150px;
    height: 30px;
    font-size: 14px;
    padding-left: 8px;
}
