
.icon-headphones:before { content: '\e800'; } /* '' */
.icon-volume-up:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-won:before { content: '\f159'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
