@charset "utf-8";
h1{
    width: 500px;
    margin-left: 400px;
}
nav{
    background-color: rgb(255, 255, 255);
}
.n1{
    width: 1200px;
    margin: 0% auto;
}
.n2{
    width: 1200px;
    margin: 0% auto;
    
}
.dog1{
    width: 400px;
    height: 200px;
    border: 1px solid #000000;
    padding: 10px;    
    display: inline-block;
    line-height: 20px;
    margin: 10px    
}
.dog2{
    width: 400px;
    height: 200px;
    border: 1px solid #000000;
    padding: 10px;    
    display: inline-block;    
    margin: 10px;    
    line-height: 20px;
}
.dog3{
    width: 400px;
    height: 200px;
    border: 1px solid #000000;
    padding: 5px;    
    display: inline-block;
    line-height: 20px;
    margin: 10px;
    
}
.dog4{
    width: 400px;
    height: 200px;
    border: 1px solid #000000;
    padding: 5px;    
    margin: 10px;
    display: inline-block;
    line-height: 20px;
    }
p{
    width: 800px;
    height: 40px;
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0% auto;
    background-color: #000000;
}