@charset "utf-8";
*{
    list-style: none;
}
.shop{
    width: 100%;
    height: 100%;

}
/* header */
header{
    width: 100%;
    height: 100px;
    background-color: aqua;
    
}
header select{
    margin: 0 auto;
}
header ul{
    float: right;
}
header li{
    float: left;
    padding: 10px;
}
/* main */
.sea img{
    width: 370px;
    height: 400px;
    padding-top: 30px;
}
.sea{
    width: 1290px;
    margin-top: 20px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
.seasea{
    width: 1400px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
}
.sea li{
    float: left;
}
.a{
    border: 1px solid #222;
    margin: 0 auto;
}
.b{
    padding-left: 50px;
}
.c{
    padding-left: 50px;
}
/* footer */
